{:paths ["src"]

 :deps
 {org.clojure/clojure {:mvn/version "1.10.0-alpha4"}
  org.clojure/tools.cli {:mvn/version "0.4.1"}

  com.cognitect/test-runner
  {:git/url "https://github.com/cognitect-labs/test-runner.git"
   :sha "3cb0a9daf1cb746259dc8309b218f9211ad3b33b"}

  org.clojure/tools.nrepl {:mvn/version "0.2.13"}
  cider/cider-nrepl {:mvn/version "0.18.0"}}}
